{% if is_granted('ROLE_ADMIN') %}
    <div class="canvas gray-light">
        <div class="page-controls">
            <div class="text-center">
                <a href="{{ url('dwi_portfolio_create_gallery') }}" class="btn btn-info">Create Gallery</a>
            </div>
        </div>
    </div>
{% endif %}
