{% if error %}

    <div class="alert alert-error">Login error - {{ error.message }}</div>

{% endif %}

<form action="{{ path('dwi_security_account_login_check') }}" class="form-horizontal" method="POST">
    <fieldset>
        <label for="_username">Username <small>(required)</small></label>
        <input type="text" class="" name="_username" value="{{ last_username }}" />

        <label for="_password">Password <small>(required)</small></label>
        <input type="password" class="" name="_password" />

        <input type="hidden" name="_target_path" value="/portfolio" />

        <div class="text-right">
            <input type="reset" class="btn" value="Reset" />
            <input type="submit" class="btn btn-success" value="Sign In" />
        </div>
    </fieldset>
</form>
