{% extends '::base.html.twig' %}

{% block title %}Sign In{% endblock %}

{% block body %}
    <div class="canvas">
        <div class="jumbotron">
            Sign In<br />
            <small>Enter your credentials below</small>
        </div>
    </div>

    {% if error %}

        <div class="alert alert-error">Sign in error - {{ error.message }}</div>

    {% endif %}

    <div class="canvas gray-lighter">
        <form action="{{ path('dwi_security_account_login_check') }}" class="form-compact" method="POST">
            <fieldset>
                <input type="text" class="form-control" name="_username" value="{{ last_username }}" placeholder="Username" />
                <input type="password" class="form-control" name="_password" placeholder="Password" />
                <input type="hidden" name="_target_path" value="/portfolio" />
                <input type="submit" class="btn btn-block btn-success" value="Sign In" />
            </fieldset>
        </form>
    </div>
{% endblock %}
