//
// Tags
// ----------------------------------------------------

// Form Elements

.form-control {
    @include border-radius(3px);
    @include box-sizing(border-box);
    @include box-shadow(0 2px 0 $gray-light);

    background: $white;
    border: none;
    display: block;
    font-family: $font-family-sans-serif;
    height: 34px;
    line-height: $line-height-base;
    padding: 6px 12px;
    width: 100%;

    &.date-control {
        @include column(4);

        margin-bottom: 8px;
    }
}

.form-label {
    display: inline-block;
    margin-bottom: 4px;
}


// Form Styles

.form {
    .form-row {
        @include column(12);
    }
}

.form-compact {
    .form-row {
        @include column(4);
        @include push(4);
    }
}

.form,
.form-compact {
    @include row(12);

    margin: 0 auto 20px;

    .form-row {
        margin-bottom: 8px;
    }

    .form-row:last-child {
        margin-bottom: 0;
    }

    .file-multiple {
        cursor: pointer;
        position: relative;

        > input[type="file"] {
            @include opacity(0);

            cursor: pointer;
            position: absolute;
            top:0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            z-index: 2;
        }
    }
}

.form:last-child,
.form-compact:last-child {
    margin-bottom: 0;
}

*::-webkit-input-placeholder {
    color: $gray;
}
*:-moz-placeholder {
    color: $gray;
}
*::-moz-placeholder {
    color: $gray;
}
*:-ms-input-placeholder {
    color: $gray;
}
