//
// Tags
// ----------------------------------------------------

// Form Styles

.form {
    .form-row {
        @include column(12);
    }
}

.form-compact {
    .form-row {
        margin: auto;
        width: 300px;
    }
}

.form,
.form-compact,
.form-els {
    .form-control {
        @include border-radius(3px);
        @include box-sizing(border-box);
        @include box-shadow(0 2px 0 $gray-light);

        background: $white;
        border: none;
        display: block;
        font-family: $font-family-sans-serif;
        height: 34px;
        line-height: $line-height-base;
        padding: 6px 12px;
        width: 100%;

        &.date-control {
            @include column(4);

            margin-bottom: 8px;
        }
    }
}

.form-els {
    .form-control {
        display: inline-block;
        width: auto;
    }
}

.form,
.form-compact {
    margin: 0 auto 20px;

    .form-row {
        margin-bottom: 8px;
    }

    .form-row:last-child {
        margin-bottom: 0;
    }

    .file-multiple {
        cursor: pointer;
        position: relative;

        > input[type="file"] {
            @include opacity(0);

            position: absolute;
            top:0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            z-index: 2;
        }
    }

    .form-label {
        display: inline-block;
        margin-bottom: 4px;
    }
}

.form:last-child,
.form-compact:last-child {
    margin-bottom: 0;
}

.form-editor {
    .form-row {
        margin: 0;
        padding: 0;
    }

    .form-control {
        @include box-sizing(border-box);

        background: transparent;
        border: 0;
        border-bottom: 2px solid $gray-light;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-thin;
        font-size: 24px;
        margin: 0;
        outline: 0;
        padding: 20px 14px;
        width: 100%;
    }

    .form-control.date-control {
        width: 33.33%;
    }

    textarea.form-control {
        font-size: 16px;
    }
}

*::-webkit-input-placeholder {
    color: $gray;
}
*:-moz-placeholder {
    color: $gray;
}
*::-moz-placeholder {
    color: $gray;
}
*:-ms-input-placeholder {
    color: $gray;
}
