//
// Image Preview List
// -------------------------------------------------

.preview-list {
    display: block;
    margin: 0 -20px -20px 0;
    text-align: center;

    > li {
        @include border-radius(3px);
        @include box-sizing(border-box);

        background: $slate;
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 20px;
        width: 170px;

        > .preview {
            @include border-radius(3px);

            height: 130px;
            margin-bottom: 20px;
        }
    }
}

.preview-list:empty {
    display: none;
}
