//
// Page Controls
// -------------------------------------------------

.page-controls {
    @include row(12);

    margin: 0 auto;
    padding: 20px 0;

    > .stats,
    > .actions {
        @include column(6);
    }

    > .stats {
        > .stat {
            display: inline-block;
            margin: 0 12px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
