//
// Scaffolding
// ----------------------------------------------------

// Body Reset
// --------------------------------------------------

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-thin;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-color;
    background-color: $body-bg;

    &.admin {
        background-color: $white;
    }
}


// Support Styles
// --------------------------------------------------

.hide {
    display: none;
}


// Oh well, only temporary!
.xdebug-var-dump {
    background: $white;
    font-family: $font-family-monospace;
    padding: 10px;
    border-bottom: 1px solid $gray;
}
