//
// Social Icons
// --------------------------------------------------

.social { margin: 0 0 50px; }
.social i { background-image: url(../img/social-sprite.png); display: inline-block; }
.social-digg{ background-position: 0 -1176px; width: 48px; height: 48px; }
.social-dribbble{ background-position: 0 -1274px; width: 48px; height: 48px; }
.social-facebook{ background-position: 0 -1372px; width: 48px; height: 48px; }
.social-flickr{ background-position: 0 -1470px; width: 48px; height: 48px; }
.social-forrst{ background-position: 0 -1568px; width: 48px; height: 48px; }
.social-google{ background-position: 0 -1666px; width: 48px; height: 48px; }
.social-rss{ background-position: 0 -1764px; width: 48px; height: 48px; }
.social-share-this{ background-position: 0 -1862px; width: 48px; height: 48px; }
.social-skype{ background-position: -98px 0; width: 48px; height: 48px; }
.social-twitter{ background-position: -98px -98px; width: 48px; height: 48px; }
.social-vimeo{ background-position: -98px -196px; width: 48px; height: 48px; }
.social-you_tube{ background-position: -98px -294px; width: 48px; height: 48px; }
.social-digg:hover{ background-position: 0 0; width: 48px; height: 48px; }
.social-dribbble:hover{ background-position: 0 -98px; width: 48px; height: 48px; }
.social-facebook:hover{ background-position: 0 -196px; width: 48px; height: 48px; }
.social-flickr:hover{ background-position: 0 -294px; width: 48px; height: 48px; }
.social-forrst:hover{ background-position: 0 -392px; width: 48px; height: 48px; }
.social-google:hover{ background-position: 0 -490px; width: 48px; height: 48px; }
.social-rss:hover{ background-position: 0 -588px; width: 48px; height: 48px; }
.social-share-this:hover{ background-position: 0 -686px; width: 48px; height: 48px; }
.social-skype:hover{ background-position: 0 -784px; width: 48px; height: 48px; }
.social-twitter:hover{ background-position: 0 -882px; width: 48px; height: 48px; }
.social-vimeo:hover{ background-position: 0 -980px; width: 48px; height: 48px; }
.social-you_tube:hover{ background-position: 0 -1078px; width: 48px; height: 48px; }
