//
// Tags
// ----------------------------------------------------

.tags {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding:0 ;
    text-align: center;

    > li {
        display: inline-block;
        font-size: ceil(($font-size-base * 0.9));
        font-weight: $font-weight-bold;
        margin-right: 10px;
        text-transform: uppercase;

        > a {
            @include border-radius(3px);

            border: 2px solid $gray-light;
            color: $gray;
            display: block;
            padding: 9px 12px;
            text-decoration: none;
        }
    }

    > li:last-child {
        margin-right: 0;
    }

    li:hover > a {
        border: 2px solid $red;
        color: $red;
    }

    li.active > a {
        background: $red;
        border: 2px solid $red;
        color: white;
    }
}


.jumbotron {
    .tags {
        margin-top: 40px;
    }
}
