//
// Thumbs
// -------------------------------------------------

.thumbs {
    @include row(12);

    margin: 0 auto;
    padding: 40px 0 20px;

    > .thumb {
        @include column(4);
        @include user-select(none);

        display: block;
        margin-bottom: 20px;
        position: relative;

        .info {
            padding: 14px;
            text-align: center;

            .title {
                font-weight: $font-weight-bold;
            }
        }

        &.inactive {
            > .thumb-overlay {
                @include opacity(0.2);

                background: $red;
            }
        }

        > img,
        > .thumb-overlay {
            @include border-radius(3px);
        }

        > .thumb-overlay {
            @include opacity(0);
            @include single-transition(opacity, 0.05s, ease);

            background: $black;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;

            > .cover {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
            }

            > .controls {
                position: relative;
                top: 20px;
                right: 20px;
                z-index: 2;
            }
        }

        > img {
            height: 100%;
            width: 100%;
        }
    }
}

.img-rounded {
    @include border-radius(3px);
}
