# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
src/composer.phar

# SASS
src/.sass-cache
src/src/DWI/AssetBundle/Resources/public/css/dwi.css
src/web/css/*
