{% set form = model.form %}
{% set gallery = model.gallery %}

{% extends ':Admin:base-admin.html.twig' %}

{% block title %}Upload Images{% endblock %}

{% block body %}
    <div class="canvas">
        <div class="jumbotron">
            Upload Images<br />
            <small>Into "{{ gallery.title }}"</small>
        </div>
    </div>

    <div id="image-uploader"></div>
{% endblock %}

{% block javascript %}
    {% include 'DWIPortfolioBundle:Portfolio:Admin/partials/image-upload-js.html.twig' %}
{% endblock %}
