{% extends ':Admin:base-admin.html.twig' %}

{% block title %}Edit Image{% endblock %}

{% block body %}
    <div class="canvas">
        <div class="jumbotron">
            Edit Image Description<br />
            <small>From {{ model.gallery.title }}</small>
        </div>
    </div>

    <div class="canvas canvas-padded gray-lighter">
        <div class="form-compact">
            <div class="form-row text-center">
                <img class="img-rounded" src="{{ asset(model.image.thumbnail)|imagine_filter('gallery_thumb') }}" />
            </div>
        </div>

        <form method="POST" class="form-compact">
            <div class="form-compact">
                <div class="form-row text-center">
                    <input class="form-control" type="text" name="desc" value="{{ model.image.description}}" placeholder="Enter a description..." />
                </div>
            </div>

            <input type="hidden" name="doEdit" value="1">

            <div class="form-row">
                <input type="submit" name="submit" value="Edit" class="btn btn-block btn-success" />
            </div>
        </form>

        <form method="POST" class="form-compact">
            <input type="hidden" name="doEdit" value="0">

            <div class="form-row">
                <input type="submit" name="submit" value="Cancel" class="btn btn-block btn-white" />
            </div>
        </form>
    </div>
{% endblock %}
