{% extends '::base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="canvas">
        <div class="jumbotron">
            Contact<br />
            <small>Fill in the form below to get in touch</small>
        </div>
    </div>

    <div class="canvas canvas-padded gray-lighter">
        <section class="body text-center">Thanks, your message has been sent, I'll be in touch as soon as I can be.</section>
    </div>
{% endblock %}
