<footer class="text-center">
    {% include '::navigation.html.twig' %}
    <div class="social">
        <a href="#"><i class="social-flickr"></i></a>
        <a href="#"><i class="social-twitter"></i></a>
        <a href="#"><i class="social-you_tube"></i></a>
    </div>

    <a href="#">Back to the top</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="{{ path('dwi_security_account_login') }}">Sign In</a><br />
    <a href="{{ path('dwi_security_account_logout') }}">Sign Out</a><br />

    <small>&copy; 2013 David Wright, all rights reserved</small>
</footer>
