<footer>
    <div class="footer container">
        {% include '::navigation.html.twig' %}
        <div class="social">
            <a href="#"><i class="social-flickr"></i></a>
            <a href="#"><i class="social-twitter"></i></a>
            <a href="#"><i class="social-you_tube"></i></a>
        </div>
        <a href="#">Back to the top</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Sign in</a>
        <div class="copy">
            <p>&copy; 2013 David Wright, all rights reserved</p>
        </div>
    </div>
</footer>