<footer>
    <div class="footer container">
        {% include '::navigation.html.twig' %}
        <a href="#">Back to the top</a>
        <div class="copy">
            <p>&copy; 2013 David Wright, all rights reserved</p>
        </div>
    </div>
</footer>