<footer>
    <div class="footer container">
        <a href="#">Back to the top</a>
        <div class="copy">
            <p>Copyright 2013 David Wright &copy; - All Rights Reserved</p>
        </div>
    </div>
</footer>