{% include '::userbar.html.twig' %}
<div class="canvas">
    <header>
        <section class="logo">
            David Wright <span class="text-light">Images</span>
        </section>
        {% include '::navigation.html.twig' %}
    </header>
</div>
