<div class="canvas">
    <header>
        <section class="logo">
            <img src="{{ asset('bundles/dwiasset/img/logo.png') }}" />
        </section>
        {% include '::navigation.html.twig' %}
    </header>
</div>
