<div class="canvas transparent" style="background: url('{{ asset('bundles/dwistatic/img/header_bg.jpg') }}'); background-size: cover;">
    <header class="home">
        <section class="logo">
            David Wright <span class="text-light">Images</span>
        </section>
        {% include '::navigation.html.twig' %}
    </header>
    <div class="canvas canvas-padded-xl transparent">
        <div class="jumbotron jumbotron-s">
            Photography<br />
            <small style="font-size: 40%;">Capturing memories.</small><br /><br />
            <a href="{{ url('dwi_portfolio_homepage') }}" class="btn btn-danger">View my Portfolio</a>
        </div>
    </div>
</div>
