<div class="canvas">
    <header>
        <section class="logo">
            David Wright <span class="text-light">Images <span class="text-warning">Admin</span></span>
        </section>
        {% include '::navigation.html.twig' %}
    </header>
</div>
