<div class="canvas transparent" style="background: url('{{ asset('bundles/dwistatic/img/header_bg.jpg') }}'); background-size: cover;">
    <header class="white">
        <section class="logo">
            David Wright <span class="text-light">Images</span>
        </section>
        {% include '::navigation.html.twig' %}
    </header><br /><br />
    <div class="canvas canvas-padded-l transparent">
        <section class="body text-center">
            <h3 style="color: white; font-size: 28px; font-weight: 300;">Photographer &amp; something else?</h3><br /><br />
            <h4 style="color: white; line-height: 1.5em; font-size: 16px; font-weight: 500;">Passionate photographer bla blu ble bla blu blu<br />foo bar baz foo bar baz.</h4>
        </section><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
</div>
