<nav role="navigation" class="navbar">
    <ul class="clearfix">
        <li><a href="{{ url('dwi_static_homepage') }}">Home</a></li>
        <li><a href="{{ url('dwi_static_homepage') }}">About</a></li>
        <li><a href="{{ url('dwi_portfolio_homepage') }}">Portfolio</a></li>
        <li><a href="{{ url('dwi_static_homepage') }}">Contact</a></li>
    </ul>
</nav>
