{% extends '::base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="separator"></div>
    <div class="title">
        <h1>Portfolio</h1>
    </div>
    <div class="well"></div>
{% endblock %}