parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     null
    database_name:     DWI
    database_user:     root
    database_password: ~

    mailer_transport:  gmail
    mailer_host:       ~
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            2872f2f668f43009c6f71fd478d0ccd5

    # Configurable parameters ...
    configurable.site_name: "David Wright Images"
    configurable.webmaster: "wright.elliot@gmail.com"