{% set portfolio = model.getChild('portfolio') %}

{% extends '::base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="canvas">
        <div class="jumbotron">
            Portfolio<br />
            <small>Take a look at some of my recent work below</small>

            <div class="tags">
                <ul class="tags">
                    <li class="active"><a href="#">All</a></li>
                    <li><a href="#">Concerts</a></li>
                    <li><a href="#">Landscapes</a></li>
                    <li><a href="#">Portrait</a></li>
                    <li><a href="#">Theatre</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% include 'DWIPortfolioBundle:Portfolio/Admin/partials:portfolio-controls.html.twig' with {
        'model': model.getChild('controls')
    } %}

    <div class="canvas gray-lighter">
        <div class="thumbs">
            {% if portfolio.hasChildren %}
                {% for gallery in portfolio.children %}
                    <div class="thumb" title="{{ gallery.title }}">
                        <div class="thumb-overlay">
                            <a class="cover" href="{{ url('dwi_portfolio_gallery', {'id': gallery.id}) }}"></a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="controls pull-right">
                                    <a class="control" href="{{ url('dwi_portfolio_remove_gallery', {'id': gallery.id}) }}"><i class="flaticon32 flaticon32-x-2"></i></a>
                                </div>
                            {% endif %}
                        </div>
                        {% if gallery.coverImagePath %}
                            <img src="{{ asset(gallery.coverImagePath) }}" alt="" />
                        {% else %}
                            <img src="http://placehold.it/300x300" alt="" />
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}

            {% for i in 0..4 %}
                <div class="thumb">
                    <div class="thumb-overlay">
                        <a class="cover" href="#play"></a>
                        <div class="controls">
                            <a class="control" href="#delete"><i class="flaticon32 flaticon32-x-2"></i></a>
                        </div>
                    </div>
                    <img src="http://placehold.it/300x300" alt="" />
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
