/*!
 * David Wright Images
 *
 * @author  Elliot Wright <wright.elliot@gmail.com>
 * @since   2013
 * @package DWI
 */

html,
body {
    background: #293239;
    color: #474F57;
    font: 300 14px/20px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.container,
.body,
.footer {
    box-sizing: border-box;
}

/**
 * Typography
 */

h1 {
    font-size: 38px;
    text-transform: uppercase;
}


/**
 * Containers
 */

.container {
    margin: 0 auto;
    padding: 0 60px;
    width: 1240px;
}

.body {
    background: white;
}

    .body .container {
        padding: 60px;
    }

    .body .separator:after {
        color: #aaa;
        content: "≈";
        display: block;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
    }

    .body .title {
        color: #222;
        text-align: center;
    }

.well {
    background: #ededed;
    border-radius: 3px;
    padding: 30px;
}


/**
 * Header
 */
header {
    background: white;
    border-bottom: 2px solid #ddd;
}

    header section.logo {
        background: url('../img/logo.png') no-repeat center left;
        float: left;
        height: 86px;
        width: 200px;
        margin-right: 30px;
    }

    header nav > ul {
        display: block;
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        header nav > ul > li {
            display: block;
            float: left;
            font-size: 14px;
            font-weight: 700;
            padding: 28px 10px 28px;
            text-transform: uppercase;
        }

            header nav > ul > li > a {
                color: #aaa;
                display: block;
                padding: 6px 10px 4px;
                text-decoration: none;
            }

                header nav > ul > li.active > a,
                header nav > ul > li > a.active,
                header nav > ul > li > a:hover {
                    border-radius: 3px;
                    padding: 4px 8px 2px;
                }

                header nav > ul > li > a.active,
                header nav > ul > li > a:hover {
                    border: 2px solid #ccc;
                    color: #aaa;
                }

                header nav > ul > li.active > a {
                    border: 2px solid #0fbe7b;
                    color: #0fbe7b;
                }


/**
 * Footer
 */
footer {
    border-top: 2px solid #ddd;
    color: #777;
    text-align: center;
}

    footer nav {
        padding: 20px 0;
    }

        footer nav > ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

            footer nav > ul > li {
                display: inline-block;
                font-size: 14px;
                font-weight: 700;
                padding: 28px 10px 28px;
                text-transform: uppercase;
            }

                footer nav > ul > li.active > a {
                    color: white;
                }

    footer a {
        color: #bbb;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: all 0.4s ease;
           -moz-transition: all 0.4s ease;
                transition: all 0.4s ease;
    }

        footer a:hover {
            color: white;
        }

        footer .copy {
            font-size: 13px;
            font-weight: 400;
        }