/*!
 * David Wright Images
 *
 * @author  Elliot Wright <wright.elliot@gmail.com>
 * @since   2013
 * @package DWI
 */

/**
 * Gallery pages
 */
.gallery-images {
    text-align: center;
}

    .gallery-images img {
        height: 500px;
        margin-right: 50px;
    }

        .gallery-images img:last-child {
            margin-right: 0;
        }

.gallery-desc,
.gallery-details {
    color: #676765;
    float: left;
    font: 15px/26px "Droid Serif";
}

.gallery-details {
    font-style: italic;
    font-size: 14px;
    width: 33.3%;
}

    .gallery-details dl > dt {
        color: black;
    }

    .gallery-details dl > dd {
        margin: 0 0 20px 0;
    }

        .gallery-details dl > dd:last-child {
            margin: 0;
        }

.gallery-desc {
    width: 66.6%;
}
